nav a {
    text-decoration: none;
    color: crimson;
    display: inline-block;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;    
    height: 2px;
    background: crimson;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scaleX(1);
}

.about blockquote {
    background-color: #eaeaea;
}

.users span {
    font-weight: bold;
}

.users span:nth-of-type(2) {
    color: crimson;
}

.creators .link {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.creators .link.font {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.cta h2 {
    color: crimson;
    font-family: 'Lato', sans-serif;
}

ul li:nth-child(1),
ul li:nth-child(3) {
    text-decoration: underline;
}